body {
  background-color: deepskyblue;
  color: darkslategray;
  text-align: center;
  align-items: center;
}

.title {
  margin-top: 10%;
  font-size: 250%;
}

.colorBG {
  background-color: skyblue;
}

#temp-group {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  border: 3px solid darkblue; 
}

#cityNameInput {
  width: 90%;
  height: 20%;
  text-align: center;
}

#search-button {
  margin-top: 2%;
}